@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "../serbuitrago/componente/variables";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***************************************************
 ******************** BODY *************************
 ***************************************************/
body {
  overflow-x: hidden;
  perspective: 1;
  display: flex; 
  flex-wrap: wrap; 
  min-height: 100vh;
  transform-style: preserve-3d;
  font-size: $letra-valor;
  font-family: $letra-tipo; 

  @media screen and (max-width: 900px) {
    font-size: 14px;
  }

  @media screen and (max-width: 500px) {
    font-size: 12px;
  }

  @media screen and (max-width: 350px) {
    font-size: 10px;
  }
}
