/*************************************************** 
 ******************** ICONOS AWASOME****************
 ***************************************************/

 .awasome-eliminar{
     color: map-get($colores-rgba, 1);
 }

 .awasome-editar{
     color: map-get($colores-rgba, 2);
 }

 .awasome-agregar{
     color: green;
 }